@tailwind base;
@tailwind components;
@tailwind utilities;

.text-stroke {
  -webkit-text-stroke: 0.25px black;
  text-stroke: 0.25px black;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}